@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.array-block {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    max-width: 750px;

    &__start {
        padding: 25px 10px;
        font-size: 32px;
        border-radius: $borderRadius;
        border: $border;
    }

    &__result {
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        min-width: 150px;
        padding: 25px 10px;
        border: $border;
        font-size: 32px;

        p + p {
            margin-left: 8px;
        }

        p:after {
            content: ",";
        }
    }
}
