@font-face {
    font-display: swap;
    font-family: "WorkSans Regular";
    src: url(./fonts/WorkSansRegular.eot);
    src: url(./fonts/WorkSansRegular.ttf);
    src: url(./fonts/WorkSansRegular.woff);
}