@import "fonts";
@import "/src/scss/variables";
@import "libs/normalize";

@import "components/all";

.wrapper {
    width: calc(100vw - 100px);
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.content {
    max-width: 1180px;
    margin: 0 auto;
}

.container {
    max-width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

